<!DOCTYPE html>
<html>
<head>
  <title>Calculator App!</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <h1>Calculator App!</h1>
  <a href="/">Home</a>

  <%= yield %>

</body>
</html>