<h3>Order Confirmation</h3>

<h4>Name:</h4>
<p><%= @pizza.pretty_name() %></p>

<h4>Topping:</h4>
<p><%= @pizza.topping() %></p>

<h4>Quantity:</h4>
<p><%= @pizza.quantity() %></p>

<h4>Total:</h4>
<p><%= @pizza.total() %></p>
