<h3>Order a pizza:</h3>

<form action="/pizzas" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" name="first_name">

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name">

  <label for="topping">Select a pizza:</label>
  <select name="topping">
    <option>Select a pizza:</option>
    <option value="Meat Tornado">Meat Tornado</option>
    <option value="Haggis Hurricane">Haggis Hurricane</option>
    <option value="Veggie Vortex">Veggie Vortex</option><option value="Salami Tsunami">Salami Tsunami</option>
  </select>

  <label for="quantity">Quantity:</label>
  <input type="number" name="quantity">

  <input type="submit" value="Order Pizza">
</form>